<header id="header" class="full-header noborder">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger">
                <i class="icon-reorder"></i>
            </div>

            <div id="logo" class="noborder">

                <a href="#" class="standard-logo">
                    <img src="<?= Url::asset('modules/bbf/assets/images/logo_bbf_medium_transp.png') ?>" alt="BabyBellyFitness">
                </a>

            </div>

            <nav id="primary-menu">

                <ul class="sf-js-enabled noborder">

                    <li class="current">
                        <a href="#" data-request="onLogout">
                            <div>Abmelden <i class="icon-line-arrow-right"></i></div>
                        </a>
                    </li>

                </ul>

            </nav>

        </div>

    </div>

</header>